/*canvas,*/
input[type="range"],
img,
table
{
  width: 90%;
}

.crosses-tab {
  display: flex;
  justify-content: space-around;
  background-color: silver;
  width: 90%;
  border: 2px solid;
}
.crosses-tab > div {
  flex: 1;
  cursor: pointer;
}

.crosses-tab > div[class="selected"] {
  background-color: black;
  color: white;
}

.crosses-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 90%;*/
  border: 2px solid;
  overflow: scroll;
}

@media (orientation: landscape) {
  canvas,
  img,
  table,
  input[type="range"],
  .crosses-tab,
  .crosses-data
  {
    width: 50%;
    height: auto;
  }
}
