/* navbar */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
}


pre {
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: silver;
}
pre code { background: none; }
hr {
  border-style: solid;
}


.article-meta {
  background: silver;
}


/* table */
table, th, td {
  margin: auto;
  max-width: 100%;
  border: 1px solid;
}
th, td {
  padding: 2px;
  /*white-space: nowrap;*/
  vertical-align: top;
}
thead, tfoot { background: #eee }


/* misc elements */
img, iframe, video {
  max-width: 100%;
  float: none;
}

.infobox {
  background-color: silver;
  width: 80%;
}

/* KONRAD */
canvas {
  width: 90%
}
@media (orientation: landscape) {
  canvas, img {
    width: 50%;
    height: auto;
  }
}

.wide {
  width: 90%;
}

ul {
  list-style-color: #ffffff; /* Explicitly set bullet color */
}

@media (prefers-color-scheme: dark) {
/*
  body {
    background-color: #121212;
    color: #ffffff;
  }
*/


  ul {
    list-style-color: white;
  }
}
