{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ range $key, $taxonomy := .Site.Taxonomies.categories.Alphabetical }}
  <h5><span class="category">{{ .Name | humanize }}</span></h5>
  <ul>
    {{ range $taxonomy.Pages.ByParam "title" }}
      <li>
        <!--<span style='font-family:monospace'>{{ .Date.Format "20060102" }}</span>-->
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
